/* Для первой таблицы */
table {
   width: 100%; 
   height: 100vh;
}
thead {
   background-color: bisque;
}
.thead_th{
   height: 10vh;
   text-align: center;
}
.tbody{
   height: 80vh;
}
.tbody_td1{
   width: 30%;
}
.tbody_td2{
   width: 70%; 
   background-color: green;
}
tfoot{
   background-color: darkcyan;
}
.tfoot_td{
   height: 10vh;
}
/* Для второй таблицы */
.body_of_table{
   position: relative;
}
.second_table{
   width: 100%;
   height: 100vh;
}
.header_table2{
   background-color: bisque;
   height: 10vh;
   text-align: center;
}
.body_of_table2{
   position: relative;
}
.second_table_body_menu {
   width: 30%;
   height: 80vh;
}
.second_table_body_content{
   position: absolute;
   background-color:green;
   width: 70%;
   height: 80vh;
   left: 30%;
   top: 0;
}
.footer_table2{
   background-color: darkcyan;
   height: 10vh;
}
/* Для третьей таблицы */
.third_table{
   width: 100%;
   height: 100vh;
}
.header_table3{
   width: 100%;
   background-color: bisque;
   text-align: center;
   height: 10vh;
}
.body_of_table3{
   width: 100%;
   height: 80vh;
   clear: both;
}
.third_table_body_menu{
   float: left;
   width: 30%;
   height: 80vh;
}
.third_table_body_content{
   float: right;
   width: 70%;
   background-color:green;
   height: 80vh;
}
.footer_table3{
   background-color: darkcyan;
   height: 10vh;
}
/* Четвёртая таблица */
.header_table4{
   width: 100%;
   background-color: bisque;
   text-align: center;
   height: 10vh;
}
.footer_table4{
   background-color: darkcyan;
   height: 10vh;
}
.flex{
   display: flex;
}
.left{
   width: 30%;
}
.right{
   width: 70%;
   background-color: green;
   height: 80vh;
}
.footer_table4{
   background-color: darkcyan;
   height: 10vh;
}